<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tittle</title>
    <form action="" method="post">
        {%if full_name %} {%if login %} {%if password %}
        <h1>Hello, {{full_name}}!<br>Your login is {{login}}.<br>Your password is {{password}}.</h1>
        {% endif %} {% endif %} {% endif %}
        </p>
        <p>
            <img src="https://emojio.ru/images/apple-b/1f60a.png">
        </p>

    </form>
</head>
<body>
</body>
</html>

