<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="" method="post">
    <p>
        <label for="username">Username</label>
        <input type="text" name="username" required>
    </p>
        <p>
            <label for="password">Password&nbsp;</label> <!-- ## &nbsp; - Альт-код пустоты-->
            <input type="password" name="password" required> <!--Для указания обязательных полей используется атрибут required-->
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
</body>
</html>